<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <header>
      <h1>Lights Outs</h1>
    </header>
    <main class="wraper">
      <div class="table">
        <!-- 1 -->
        <div class="row">
          <div class="cell">0</div>
          <div class="cell">0</div>
          <div class="cell">0</div>
          <div class="cell">0</div>
          <div class="cell">0</div>
        </div>
        <!-- 2 -->
        <div class="row">
          <div class="cell">0</div>
          <div class="cell">0</div>
          <div class="cell">0</div>
          <div class="cell">0</div>
          <div class="cell">0</div>
        </div>
        <!-- 3 -->
        <div class="row">
          <div class="cell">0</div>
          <div class="cell">0</div>
          <div class="cell">0</div>
          <div class="cell">0</div>
          <div class="cell">0</div>
        </div>
        <!-- 4 -->
        <div class="row">
          <div class="cell">0</div>
          <div class="cell">0</div>
          <div class="cell">0</div>
          <div class="cell">0</div>
          <div class="cell">0</div>
        </div>
        <!-- 4 -->
        <div class="row">
          <div class="cell">0</div>
          <div class="cell">0</div>
          <div class="cell">0</div>
          <div class="cell">0</div>
          <div class="cell">0</div>
        </div>
      </div>
    </main>
  </body>
</html>
